#top-logo{
  position: absolute;
  top: 20px;
  left: 20px;
  cursor: pointer;
  width: 80px;
}

img.continue, img.back{
  height: 50px;  
  cursor: pointer;
}
img.back{
  transform: rotate(180deg);
}


#process-title{
  text-align: center;
  font-size: 3em;
  color: white;  
  margin-bottom: 80px;
}

.divider{
  margin: 10px 0;
  height: 2px;
  background: #73A9C5;  
}
.divider .title{
  float: left;
  color: rgb(79, 118, 138);
  font-size: 24px;
  font-weight: 200;
  padding-left: 20px;
}