#top-logo{
  position: absolute;
  top: 20px;
  left: 20px;
  cursor: pointer;
  width: 80px;
}

img.continue, img.back{
  height: 50px;  
  cursor: pointer;
}
img.back{
  transform: rotate(180deg);
}


#process-title{
  text-align: center;
  font-size: 3em;
  color: white;  
  margin-bottom: 80px;
}