.grow-on-hover {
    transition: 0.1s ease;
}

.grow-on-hover:hover {
    -webkit-transform: scale(1.15);
    -ms-transform: scale(1.15);
    transform: scale(1.15);
    transition: 0.1s ease;
}

.shrink-on-hide {
    transition: 0.1s ease;
}

.shrink-on-hide.hidden {
    opacity: 0;
    pointer-events: none;
    
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
    -webkit-transform: opacity;
    -ms-transform: opacity;
    transform: opacity;
    transition: 0.1s ease;
}
