.rc-slider-rail {
    height: 200px;
    background-color: #5588A3;
}

.rc-slider-track {
    height: 200px;
    background-color: #FC847E;
}

.rc-slider-handle {
    width: 20px;
    height: 20px;
    margin-left: -10px;
    margin-top: 90px;
    border-color: #FC847E;
}
