<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Event</title>
</head>
<body>
<form action="" method="post">
    <h2>{{ host_name }} is hosting: {{ event.name }}</h2>
    <h3>The event will last {{ event.length }}</h3>
    {% if user %}
        Hey {{ user.name }}, the following time slots are available:
    {% else %}
        Your Name<br>
        <input type="text" name="username"><br>
        Contact Method<br>
        <input type="text" name="contact"><br>    The following time slots are available:
    {% endif %}
    <ul>
        {% for start, end in event.slots %}
            <input type="checkbox" name="goodtime" value="{{ start }} to {{ end }}"> From {{ start }} to {{ end }} <br>
        {% endfor %}
    </ul>

    <table class="table">
        <thead>
        <tr>
            <th scope="col"></th>
            {% for name in attendee_names %}
                <th scope="col">{{ name }}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for time, slots in attendance_table.items() %}
            <tr>
                <th scope="row">{{ time }}</th>
                {% for slot in slots %}
                    <td>
                        <input type="checkbox" onclick="return false;" {% if slot %}checked{% endif %}>
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <input type="submit" value="Submit">
</form>
</body>
</html>