<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New Event</title>
</head>
<body>

<form action="/new_event" method="post">
    Event Name<br>
    <input type="text" name="name"><br>
    Event Length (hours)<br>
    <input type="text" name="length"><br>
    <div>
        Date<br>
        <input type="date" name="date"><br>
        Start of time<br>
        <input type="time" name="start"><br>
        End of times<br>
        <input type="time" name="end"><br>
    </div>
    <input type="submit" value="Submit">
</form>

</body>
</html>